{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/home.css" %}' type="text/css"/>
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Centro Médico Galenos</div>
            <div class="menu__rigth">
                <ul class="navbar__list">
                    <li class="list__item"><a class="list__link" href="{% url 'registro' %}">Sobre nosostros</a></li>
                    <li class="list__item"><a class="list__link" href="{% url 'registro' %}">Contacto</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="container__left">
                <div class="container__text">
                    <p class="sub__title">Cuidado y atención rápida a adultos mayores</p>
                    <h1 class="title">Tu salud en nuestras manos</h1>
                    <p class="texto_p">Los mejores especialistas con las mejores especialidades. Cuida tu salud y la de tu familia acá en el Centro Médico Galenos</p>
                </div>
                <div>
                    <button class="btn">
                        <a class="link" href="{% url 'login' %}">Iniciar sesión</a>
                    </button>
                    <button class="btn">
                        <a class="link" href="{% url 'registro' %}">Crear Cuenta</a>
                    </button>
                </div>
            </div>
            <div class="container__right">
                <img src='https://i.postimg.cc/hjndbKnx/grupo-doctores.png' alt="doctores">
            </div>
        </div>
    </header>
</body>
</html>