{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/inicio.css" %}' type="text/css"/>
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Centro Médico Galenos</div>
            <div class="menu__rigth">
                <ul class="navbar__list">
                    <li class="list__item"><a class="list__link" href="#especialidades">Especialidades</a></li>
                    <li class="list__item"><a class="list__link" href="">Centros</a></li>
                    <li class="list__item"><a class="list__link" href="">Sobre nosostros</a></li>
                    <li class="list__item"><a class="list__link" href="">Contacto</a></li>
                    <li class="list__item"><a class="list__link" href='{% url "home" %}'>Cerrar Sesión</a></li>
                    <!-- <button id="logoutLink" class="btn logout-btn">Cerrar Sesión</button> -->
                </ul>
            </div>
        </nav>

        <div class="container2 container">
            <div class="container__left">
                <div class="container__text">
                    <p class="sub__title">Cuidado y atención rápida a adultos mayores</p>
                    <h1 class="title">Tu salud en nuestras manos</h1>
                    <p class="texto_p">Los mejores especialistas con las mejores especialidades. Cuida tu salud y la de tu familia acá en el Centro Médico Galenos</p>
                </div>
            </div>
            <div class="container__right">
                <img src='https://i.postimg.cc/xd5nQ4yM/anciano-enfermera-longea-600x600.png' alt="doctores">
            </div>
        </div>
    </header>

    <div class="contenedor container">
        <section class="especialidades" id="especialidades">
            <h1 class="texto1">Nuestras especialidades</h1>
            <p class="texto1-2">
                Debido a ala gran demanda por parte de nuestros pacientes, Centro Médico Galenos se encuentra 
                potenciando diversas especialidades en los distintos centros que tenemos para seguir brindando acceso, calidad y calidez.
            </p>
            <div class="left-div">
                <ul>
                    <li>Neurología</li>
                    <li>Oftalmología</li>
                    <li>Ototrrinolaringología</li>
                    <li>Pedíatria</li>
                    <li>Dermatología</li>
                </ul>
            </div>
            <div class="right-div">
                <!-- Contenido del div derecho -->
                Derecha
            </div>
        </section>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const logoutButton = document.querySelector('.btn');
    
            if (logoutButton) {
                logoutButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    logout();
                });
            }
    
            async function logout() {
                try {
                    function getCookie(username) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, username.length + 1) === (username + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(username.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
    
                    const csrftoken = getCookie('csrftoken');
                    const response = await fetch('http://127.0.0.1:8000/logout/cerrar/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        }
                    });
    
                    if (response.ok) {
                        window.location.href = 'http://127.0.0.1:3000/';
                    } else {
                        console.error('Error al cerrar sesión:', response.statusText);
                    }
                } catch (error) {
                    console.error('Error de red:', error);
                }
            }
        });
    </script>
</body>
</html>