{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/registro.css" %}'>
    <title>Formulario de Inicio de Sesión</title>
</head>
<body>
    <h2 class="title">Centro medico galenos</h2>
    <div class="container">
        <h1 class="text">Formulario de Inicio de Sesión</h1>
        <form id="login" class="registration-form">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required><br>
        
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required><br>
        
            <button type="submit">Iniciar Sesión</button>
            <button onclick="goBack()">Volver</button>
        </form>
    </div>

<script>
    document.getElementById('login').addEventListener('submit', function(event) {
        event.preventDefault();
        sendDataToBackend();
    });

    function goBack() {
        window.location.href = 'http://127.0.0.1:3000/';
    }

    function sendDataToBackend() {
        const backendUrl = 'http://127.0.0.1:8000/';
        const backendEndpoint = 'cuenta/login/';
        
        const formData = new FormData(document.getElementById('login'));

        fetch(`${backendUrl}${backendEndpoint}`, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Credenciales inválidas');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            alert('¡Inicio de sesión exitoso!');
            // Redirige a la página principal (ajusta la ruta según tu aplicación)
            window.location.href = 'http://127.0.0.1:3000/inicio/';
        })
        .catch(error => {
            console.error('Error:', error);
            alert(`Error en el inicio de sesión: ${error.message}`);
        });
    }
</script>
</body>
</html>
